body {
    background: linear-gradient(to right, brown,navy);
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 100vh;             
    margin: 0;
}


.container{
    background: white;
    padding: 3rem;
    margin:45px;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-width: 350px;
}

h1{
    color: black;
    margin-top: -20px;   
    margin-bottom: 5rem;
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
}


button{
    padding: 30px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}

button{
    transition: all 0.3s ease;
}

#countLabel{
    display:block;
    font-size:100px;
    

}
#increaseBtn{
    background-color: rgb(8, 227, 8);
    color: white;
}
#increaseBtn:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px #05973b;
}
#decreaseBtn{
    background-color: red;
    color: white;
}
#decreaseBtn:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgb(253, 23, 2);
}
#resetBtn{
 background: linear-gradient(to right,navy,aqua);
    color: white;
}

#resetBtn:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px black;
}




